[defaults]
# Allow first-time SSH connections to fresh hosts when using password auth.
host_key_checking = False

# Store installed roles locally inside the repository
roles_path = ./roles

# Store installed collections locally inside the repository
collections_path = ./collections

vars_plugins_enabled = host_group_vars, community.sops.sops

[community.sops]
# Path to your Age key or GPG setup
age_key_file = ./age.key